aside {
    background-color: #ffdada;
    border-radius: 10px;
    border: 3px solid black;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.attr {
    display: grid;
    grid-template-columns: auto 300px;
    align-items: center;
    width: calc(50% - 5px);
    min-width: 400px;
}

label {
    width: 100px;
    text-align: center;
    margin: 10px;
}

aside button {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(200, 0, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    height: 32px;
    margin: auto;
    margin-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 3px solid black;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}