<div clas="home-container">
    <img src="assets/images/supermarket.jpg" class="home-img">
    <div class="offerts">
        <h2> Productos Recomendados: </h2>
        <ul>
            <li *ngFor = "let product of products">
                <img *ngIf="product.active" src="/assets/images/special_offer.png" class="special_offer">
                <a routerLink ="/product/{{product.id}}"> <img src="/api/product/{{product.id}}/image"> </a>
                <h2 class="product-name"><a routerLink ="/product/{{product.id}}"> {{product.name}} </a></h2>
                <div class="button-container">
                    <h2 class = "product-price"> <span *ngIf="product.active" class="discount"> {{getOffer(product.id)?.discount}} % </span>
                        <span [class.active]="product.active"> {{product.price}} €</span>
                    </h2>
                    <h2 class="product-price"  *ngIf="product.active"> <span> {{getOffer(product.id)?.newPrice}} €</span></h2>
                    <button class="add-button" routerLink="/ticket/{{product.id}}"> Añadir </button>
                </div>
            </li>
        </ul>
    </div>
</div>
