main {
    background-color: #ffdada;
    border-radius: 10px;
    border: 3px solid black;
    margin: 20px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: #ffdada;
    border-radius: 10px;
    border: 3px solid black;
    margin: 20px;
    margin-right: 10px;
}

.userImg{
    border: 3px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: white;
    display: flex;
}

.user {
    margin: 20px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    min-width: 300px;
}

.user-info {
    font-size: 20px;
    color: black;
    width: 70%;
    margin: auto;
    border: none;
    border-radius: 3px;
}

.attr {
    display: flex
}

button {
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: block;
    background-color: rgb(200, 0, 0);
}

h1 {
    text-align: center;
}

.ticket_img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 0px;
}

li {
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #eaeaea;
    margin: 10px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-name {
    font-size: 16px;
    color: black;
    cursor: pointer;
    width: 90%;
    margin: auto;
    display: block;
}

.date {
    font-size: 20px;
    color: black;
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}