<div class="login-container">
    <main>
        <h1> Iniciar Sesión </h1>
        <input [(ngModel)] = "user.username" type = "text" placeholder="Usuario" required>
        <input [(ngModel)] = "user.encodedPassword" type = "password" placeholder="Contraseña" required>
        <div class="button-container">
            <button class = "sign-button" routerLink="/signup"> Registrarse</button>
            <button class = "login-button" (click)="submitLoginForm()"> Iniciar Sesión </button>
        </div>
    </main>
</div>