<div class="product-container">
    <img src="/api/product/{{product.id}}/image">

    <div class="product">
        <h1 id = "product-name"> {{product.name}} <span> ({{product.weight}} g) </span></h1>
        <button class="add-button"> Añadir - {{product.price}} €</button>
        <h2> Ingredientes </h2>
        <p> {{product.info}}</p>
        <h2> Informacion nutricional </h2>
        <table>
            <tr>
              <th></th>
              <th> por 100g </th>
              <th> por racion </th>
            </tr>
            <tr>
                <td> Calorias </td>
                <td> </td>
                <td> {{product.cal}} </td>
            </tr>
            <tr>
                <td> Proteinas </td>
                <td> </td>
                <td> {{product.protein}} </td>
            </tr>
            <tr>
                <td> Grasas </td>
                <td> </td>
                <td> {{product.fat}} </td>
            </tr>
            <tr>
                <td> Carbohidratos </td>
                <td> </td>
                <td> {{product.carbo}} </td>
            </tr>
        </table>
    </div>
</div>