<div class="product-container">
    <div class="product-img">
        <img *ngIf="product.active" src="/assets/images/special_offer.png" class="special_offer">
        <img src="/api/product/{{product.id}}/image">
    </div>

    <div class="product">
        <h1 id = "product-name"> {{product.name}} <span> ({{product.weight}} g) </span></h1>
        <h2 class = "product-price"> <span *ngIf="product.active" class="discount"> {{offer.discount}} % </span>
            <span [class.active]="product.active"> {{product.price}} €</span>
        </h2>
        <h2 class="product-price"  *ngIf="product.active"> <span> {{offer.newPrice}} €</span></h2>
        <button class="add-button" routerLink="/ticket/{{product.id}}"> Añadir </button>
        <h2> Ingredientes </h2>
        <p> {{product.info}}</p>
        <h2> Informacion nutricional </h2>
        <table>
            <tr>
              <th></th>
              <th> por racion </th>
            </tr>
            <tr>
                <td> Calorias </td>
                <td> {{product.cal}} </td>
            </tr>
            <tr>
                <td> Proteinas </td>
                <td> {{product.protein}} </td>
            </tr>
            <tr>
                <td> Grasas </td>
                <td> {{product.fat}} </td>
            </tr>
            <tr>
                <td> Carbohidratos </td>
                <td> {{product.carbo}} </td>
            </tr>
        </table>
    </div>
</div>