<div class="signup-container">
    <main>
        <h1> Registrarse </h1>
        <div class="profile-picture">
            <img [src]="imageSrc" alt="Foto de perfil">
        </div>
        <input (change)="modifyImageFile($event)" type ="file" name="image" placeholder="Foto" accept=".jpg, .jpeg, .png">
        <input [(ngModel)] = "user.username" type = "text" placeholder="Usuario" required>
        <input [(ngModel)] = "user.email" type="text" placeholder="Email" required>
        <input [(ngModel)] = "user.phoneNumber" type="text" placeholder="Número de telefono" required>
        <input [(ngModel)] = "user.encodedPassword" type = "password" placeholder="Contraseña" required>
        <input type = "password" placeholder="Confirmar Contraseña" required>
        <div class="button-container">
            <button class = "sign-button"(click)="submitSignupForm()"> Registrarse</button>
            <button class = "login-button" routerLink="/login"> Iniciar Sesión </button>
        </div>
    </main>
</div>