<div class="search-container">
    <main>
        <ul>
            <li *ngFor = "let product of filtredProducts">
                <a routerLink ="/product/{{product.id}}"> <img src="/api/product/{{product.id}}/image"> </a>
                <h2 class="product-name"><a routerLink ="/product/{{product.id}}"> {{product.name}} </a></h2>
                <div class="button-container">
                    <h2 class = "product-price"> {{product.price}} € </h2>
                    <button class="add-button" routerLink="/ticket/{{product.id}}"> Añadir </button>
                    @if (loginService.isAdmin()){
                        <button class="delete-button" (click)="deleteProduct(product.id)" id="delete-{{product.name}}"> Borrar </button>
                    }
                </div>
            </li>
        </ul>
    </main>
    <aside>
        <h2> Filtrar por: </h2>
        <div class = "filter-elem">
            <label *ngFor="let category of foodTypes">
                <input
                type="checkbox"
                [value]="category"
                (change)="onCategoryChange($event)"
                />
                {{ category }}
            </label>
        </div>
        <div class="filter-elem">
            <label for="precioMin">Precio mínimo:</label>
            <input id="precioMin" type="number" [(ngModel)]="minPrice" (change)="filter()" />
            <label for="precioMax">Precio máximo:</label>
            <input id="precioMax" type="number" [(ngModel)]="maxPrice" (change)="filter()"/>
        </div>
    </aside>
</div>